# Core modules (mandatory)
jupyterlite-core==0.6.4
jupyterlab~=4.4.5
notebook~=7.4.5

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.3,<9


jupyterlite
jupyterlite-pyodide-kernel
jupyterlite-pyodide-lock
jupytergis

